.Profile {

}

.Profile table {
  font-size: 1.1rem;
  margin-bottom: 0;
}


.Profile table thead {
  /* display: none; */
}

.Profile div.list-group-flush .list-group-item {
  padding: 0;
}

.Profile .infobox {
  padding: 0.5rem 0.75rem;
  color: #222;
  background-color: #fcfcff;
}

.Profile .infobox ul {
  margin-bottom: 0;
}

.Profile .infobox p {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

.Profile .infobox .small {
  font-size: 90%;
}

.Profile .infobox .title {
  font-weight: 500;
}

.Profile .prof-row-nudge {
  background-color: #edf3f5;
}

.Profile .prof-row-nudge :first-child {
  padding-left: 1.5em;
}
